.custom-input-color{
  &__label{
    width: 34px;
    height: 34px;
    margin: 0;
  }
  &:hover &__label{
    outline: 4px solid $color-accent-light;
  }
  &__input:checked+&__label{
    outline: 4px solid $color-accent-lighted;

  }
  &.color--light &__label{
    box-shadow: inset 0 0 0 1px rgba(65, 65, 74, 0.2);
  }
}