.searchform{
  width: 528px;
  height: 48px;
  border: 1px solid #F2AA07;
  border-radius: 20px;
  display: none;
  @include media(md){
    display: block;
  }
  &__form{
    display: flex;
    height: 100%;
  }
  &__select{
    width: 171px;
  }
  &__search-field{
    flex-grow: 1;
    padding-left: 20px;
    border: none;
  }
  &__search-field::placeholder{
    color: $color-text-light;
  }
  &__button{
    width: 60px;
    color: $color-light;
    background: #F2AA07;
    border-radius: 0px 20px 20px 0px;
    border: none;
  }
  // mobile form
  &.open{
    @include media-breakpoint-down(sm){
      display: block;
      position: absolute;
      top: 134px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
      border-radius: 0;
      background-color: rgba(#41414A, 0.6);
      z-index: 999;
      &::before{
        content: url("../img/chevron-left.svg");
        position: absolute;
        top: 16px;
        left: 16px;
        display: block;
        pointer-events: none;
      }
      .searchform__form{
        height: 54px;
        left: 0px;
        right: 0;
        background: #FFFFFF;
        border: 1px solid rgba(242, 170, 7, 0.1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      .searchform__select{
        display: none;
        &+.select2.select2-container{
          display: none;
        }
      }
      .searchform__search-field{
        padding-left: 56px;
      }
      .searchform__button{
        color: $color-text;
        background-color: $color-light;
        border-radius: 0;
      }

    }


  }

  //select2 pseudoselect
  &__form{
    .select2-selection--single{
      height: 100%;
      background: rgba(242, 170, 7, 0.1);
      border: 3px solid $color-light;
      border-radius: 20px 0px 0px 20px;
      line-height: 40px;
    }
    .select2-container:focus-visible,
    .select2-container:focus{
      outline: none !important;
      .select2-selection--single{
        border-color: $color-accent;
      }
    }
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple, .select2-container--default.select2-container--open.select2-container--below .select2-selection--single{
      border-radius: 20px 0px 0px 20px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
      line-height: 40px;
      padding-left: 16px;
      padding-right: 36px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 40px;
      padding-right: 16px;
      width: 36px;
    }
  }
}

//select2 pseudoselect too
.select2-container--open .select2-dropdown--below{
  border: none;
  background-color: transparent;
}
.select2-container--default .select2-results>.select2-results__options{
  max-height: min-content;
  margin-top: 2px;
  overflow: visible;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 7px 2px;
  .select2-results__option{
    position: relative;
    padding: 17px;
    border-radius: 15px;
    margin-bottom: 5px;
    &::after{
      content: '';
      position: absolute;
      left: 17px;
      right: 17px;
      bottom: -3px;
      height: 1px;
      background: rgba(0,0,0, .1);
    }
  }
  .select2-results__option[aria-selected=true]{
    background-color: $color-accent-light;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected],
  .select2-results__option:hover{
    background-color: $color-accent-lighted;
    color: $color-text;
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: $color-accent-lighted;
  color: $color-text;
}

.searchform-mobile-btn{
  display: block;
  background-color: transparent;
  border: none;
  color: $color-text;
  //@media screen and (min-width: 768px){
  @include media(md){
    display: none !important;
  }
}