.shop-filter{
  display: none;
  &__header{
    border-bottom: 1px solid #e5e5e5;
  }
  @include media-breakpoint-down(md){
    &.open{
      display: block !important;
      position: absolute;
      top: -15px;
      left: 10px;
      right: 10px;
      width: auto;
      background-color: $color-light;
      border: 1px solid #E5E5E5;
      border-radius: 20px;
      z-index: 999;
    }
  }
  @include media-breakpoint-up(md){
    display: block;
    &__header,
    &__main,
    &__footer{
      padding-left: 13px;
      padding-right: 13px;
      background-color: $color-light;
    }
    &__header{
      border-radius: 20px 20px 0 0;
      border-bottom: none;
      background-color: $color-accent-light;
    }
    &__footer{
      border-radius: 0 0 20px 20px;
    }

  }
}

.filter-header{
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 19px;
  @include media(md){
    padding-top: 24px;
  }
  &__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }
  &__btn{
    font-weight: 500;
  }
  &__btn--reset{
    font-size: 16px;
    line-height: 1.25;
  }
}
.filter-form{
  &__group {
    padding: 1rem 0;
    border-bottom: 1px solid #e5e5e5;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 9px;
  }
  &__heading{
    margin: 0;
    padding-left: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.31;
  }
  &__reset{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $color-text-light;
  }
  &__field-group{
    padding: 10px 6px;

    &:focus-within{
      outline: 1px solid $color-text-light;
    }
  }
  &__label{
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    color: $color-text-light;

  }
  [type="checkbox"] + &__label::before{
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #808080;
    border-radius: 2px;
  }
  [type="checkbox"]:checked + &__label::before{
    border-color: $color-accent;
    background-color: $color-accent;
  }
  [type="checkbox"]:checked + &__label::after{
    position: absolute;
    content: '';
    left: 8px;
    bottom: 5px;
    width: 14px;
    height: 8px;
    border: 3px solid $color-light;
    border-right: none;
    border-top: none;
    transform-origin: left bottom;
    transform: rotate(-45deg);
  }
  &__button-group{
    display: flex;
    justify-content: space-around;
    padding: 15px 10px 42px;
  }
}
.popular-search{
  padding: 1rem 6px 2rem;
  @include media-breakpoint-up(md){
    padding-left: 13px;
    padding-right: 13px;
  }
  &__title{
    margin-top: 7px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;

  }
  &__link{
    display: block;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 9px 12px;
    font-size: 12px;
    line-height: 15px;
    color: #808D9A;
    background: rgba(128, 141, 154, 0.06);
    border-radius: 15px;
    &:hover{
      color: $color-light;
      text-decoration: none;
      background: $color-accent;
    }
  }
}