.top-bar{
  display: none;
  @include media($switch-only){
    display: flex;
  }
}
.location{
  margin-right: auto;
  padding: 0;
  border: none;
  font-weight: 500;
  color: inherit;
  background-color: transparent;
  &:hover{
    color: #808D9A;
  }
}
.secondary-menu{
  display: flex;
  padding: 0;
  list-style: none;
}