//layout's colors:
$color-accent: #F2AA07;
$color-accent-hover: #FDC33F;
$color-light: #ffffff;
$color-accent-light:  rgba(#F2AA07, 0.1);
$color-accent-lighted:  rgba(#F2AA07, 0.2);
$color-text:  #41414A;
$color-text-light:  #808D9A;
$color-background: #E5F0FF;
$color-background-lighted: #F1F6FB;
$color-background-light: #F8F8F8;
//layout's vars:
$radius-sm: 10px;
$radius-lg: 20px;
$radius-xl: 40px;

$switch-only: 991;

// === heading ===
// 1rem = 14px
$h1-font-size: 3.214rem; //45px
$h2-font-size: 2.715rem; //38px;
$h3-font-size: 1.285rem; //18px;
$h4-font-size: 1.142rem; //16px;
$h5-font-size: 1rem;
$h6-font-size: 1rem;
// === bootstrap grid: ===

// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);


// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1230px
);