html{
  font-size: 14px;
  height: 100%;
  color: $color-text;
}
.page{ //body
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  &.fixed{
    @include media-breakpoint-down(md){
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.08;
    margin-top: 3rem;
    margin-bottom: 31px;
    @include media(xl) {
      font-size: 45px;
      line-height: 1.16;
      margin-top: 20px;
      margin-bottom: 48px;
    }
  }
  &__content{
    padding-top: 12px;
    padding-bottom: 70px;
    background-color: rgba(242, 242, 242, 0.21);
    @include media(md){
      padding-top: 40px;
      padding-bottom: 150px;
    }
    .promo{
      margin-bottom: 67px;
      @include media(lg){
        margin-bottom: 127px;
      }
    }
    .featured-products{
      margin-bottom: 66px;
      @include media(lg){
        margin-bottom: 135px;
      }
    }
    .promo-bottom{
      margin-top: 48px;
      @include media(lg){
        margin-top: 135px;
      }
    }
    .categories{
      margin-top: 42px;
      margin-bottom: 41px;
      @include media(lg){
        margin-top: 20px;
        margin-bottom: 120px;
      }
    }
    .for-whom{
      margin-bottom: 44px;
      @include media(lg){
        margin-top: 113px;
        margin-bottom: 110px;
      }
    }


  }
}

//catalog page
.catalog-title{
  margin-top: 3rem;
  font-size: 24px;
  line-height: 1.08;
}

.product-page{
  &__customers,
  &__banner{
    margin-top: 65px;
    @include media(lg){
      margin-top: 139px;
    }
  }

}
.single-product{
  &__banner,
  &__slider{
    margin-top: 65px;
    @include media(lg){
      margin-top: 139px;
    }
  }
}