html{
  font-size: 14px;
  height: 100%;
  color: $color-text;
}
.page{ //body
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  &.fixed{
    @include media-breakpoint-down(md){
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
  }
  &__content{
    padding-top: 40px;
    padding-bottom: 150px;
    background-color: rgba(242, 242, 242, 0.21);
    &>.container>section+section{
      margin-top: 146px;
    }
  }
}