.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button,
input,
a{
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.mobile-only{
  @include media($switch-only){
    display: none;
  }
}
.desktop-only{
  display: none;
  @include media($switch-only){
    display: block;
  }
}
.text-main{
  color: $color-accent;
}

@include media-breakpoint-down(md){
  .mobile-menu-btn{
    appearance: none;
    height: 45px;
    width: 45px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    &:active,
    &:focus,
    &:hover{
      background-color: transparent !important;
      color: inherit;
      outline-color: $color-accent;
    }
  }
}

.btn{
  padding: 10px;
  min-width: 94px;
  width: max-content;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: $color-light;
  border-radius: 19px;
  border: 1px solid $color-text-light;
  background-color: $color-text-light;
  transition: all .35s ease;
  @include media(md){
    font-size: 14px;
    padding: 11px 24px;
    border-radius: 20px;
  }
}

.btn-main{
  color: $color-light;
  background-color: $color-accent;
  border-color: $color-accent;
  &:hover{
    color: $color-light;
    text-decoration: none;
    background-color: $color-accent-hover;
    border-color: $color-accent-hover;
  }
}
.btn-main-outline{
  color: $color-text-light;
  background-color: transparent;
  border-color: $color-accent;
  &:hover{
    color: $color-text;
    text-decoration: none;
    border-color: $color-accent-hover;
  }
}

.btn-outline{
  color: $color-text-light;
  background-color: transparent;
  border-color: $color-text-light;
  &:hover{
    color: $color-text;
    border-color: $color-text;
  }
}

.btn-link{
  appearance: none;
  background: none;
  border: none;
  padding: 1px 6px;
}

.section-title{
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.25;
  @include media(md){
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.37;
  }
}