.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button,
input,
a{
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.mobile-only{
  @include media($switch-only){
    display: none;
  }
}
.desktop-only{
  display: none;
  @include media($switch-only){
    display: block;
  }
}
.text-main{
  color: $color-accent;
}